body{
    margin:0;
    padding:0;
    text-align: center;
    background:linear-gradient(to left,rgb(91, 59, 231),rgb(129, 187, 129));
}
.container{
    height:70vh;
    display: flex;
    justify-content: center;
    align-self: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center;
    gap: 1.5px;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 10px;
    box-shadow: 0 0 1rem black;
    padding: 2px;
    margin: 3px;
    background-color:#1c74405e;
    color: black;
    font-size: 3rem;
}
h1{
    color: rgb(10, 19, 37);
    text-decoration: underline;
}
.reset{
    padding: 5px;
    font-family: 'Franklin Gothic Medium';
    border: 2px solid rgb(11, 12, 9);
    box-shadow: 0 0 1rem black;
    font-size: 50px;
    border-radius: 15px;
background-color: rgb(36, 38, 129);
}

#msg{
color:#0000005e;
font-size:50px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.hide {
    display: none;
  }

